<?xml version='1.0' encoding='UTF-8'?>
<image name='Linux-Kamarada-42.2-KDE-Live' displayname='Linux_Kamarada_42.2_KDE_Live' schemaversion='5.2'>
  <description type='system'>
    <author>Projeto Linux Kamarada</author>
    <contact>linuxkamarada@gmail.com</contact>
    <specification>Linux Kamarada 42.2 KDE Live</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='isoboot/suse-leap42.1' fsnocheck='true' bootloader='grub2' firmware='uefi' flags='overlay' hybrid='true' image='iso' hybridpersistent='true' hybridpersistent_filesystem='ext4' kernelcmdline='splash' volid='Linux Kamarada 42.2 KDE Live'>
      <split>
        <temporary>
          <file name='/var'/>
          <file name='/var/*'/>
          <file name='/etc'/>
          <file name='/etc/*'/>
          <file name='/tmp'/>
          <file name='/tmp/*'/>
          <file name='/home'/>
          <file name='/home/*'/>
        </temporary>
      </split>
    </type>
    <version>42.2.0</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
    <timezone>UTC</timezone>
    <hwclock>localtime</hwclock>
    <locale>en_US</locale>
  </preferences>
  <users group='root'>
    <user name='root' pwd='$1$cXqYzmQh$E5n.cUaza3WK9KwQchR7h.' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <package name='hplip'/>
    <package name='yakuake'/>
    <package name='joe'/>
    <package name='nano'/>
    <package name='libreoffice-kde4'/>
    <package name='yast2-branding-openSUSE'/>
    <package name='wallpaper-branding-openSUSE'/>
    <package name='systemd-presets-branding-openSUSE'/>
    <package name='sddm-branding-openSUSE'/>
    <package name='plymouth-branding-openSUSE'/>
    <package name='plasma5-workspace-branding-openSUSE'/>
    <package name='PackageKit-branding-openSUSE'/>
    <package name='NetworkManager-branding-openSUSE'/>
    <package name='MozillaFirefox-branding-openSUSE'/>
    <package name='libreoffice-branding-upstream'/>
    <package name='libpurple-branding-openSUSE'/>
    <package name='ksplashx-branding-openSUSE'/>
    <package name='ksplash-qml-branding-openSUSE'/>
    <package name='kdelibs4-branding-openSUSE'/>
    <package name='hicolor-icon-theme-branding-openSUSE'/>
    <package name='gtk3-branding-openSUSE'/>
    <package name='gio-branding-openSUSE'/>
    <package name='gconf2-branding-openSUSE'/>
    <package name='gtk2-branding-openSUSE'/>
    <package name='shim' bootinclude='true'/>
    <package name='grub2-x86_64-efi'/>
    <package name='xdg-utils'/>
    <package name='kde-cli-tools5'/>
    <package name='yast2-sudo'/>
    <package name='sudo'/>
    <package name='wpa_supplicant'/>
    <package name='wireless-regdb'/>
    <package name='pcmciautils'/>
    <package name='iw'/>
    <package name='crda'/>
    <package name='patterns-openSUSE-laptop'/>
    <package name='xf86-video-vmware'/>
    <package name='xf86-input-vmmouse'/>
    <package name='virtualbox-guest-x11'/>
    <package name='virtualbox-guest-tools'/>
    <package name='open-vm-tools-desktop'/>
    <package name='open-vm-tools'/>
    <package name='sweeper'/>
    <package name='spectacle'/>
    <package name='kwrite'/>
    <package name='kruler'/>
    <package name='kompare'/>
    <package name='knotes5'/>
    <package name='kmousetool'/>
    <package name='kmag'/>
    <package name='kleopatra5'/>
    <package name='kgpg'/>
    <package name='kcolorchooser'/>
    <package name='kcharselect'/>
    <package name='kcalc'/>
    <package name='xterm'/>
    <package name='system-config-printer'/>
    <package name='java-1_8_0-openjdk-headless'/>
    <package name='kwalletmanager5'/>
    <package name='ksysguard5'/>
    <package name='kget'/>
    <package name='yast2-packager'/>
    <package name='kinfocenter5'/>
    <package name='dolphin'/>
    <package name='ark'/>
    <package name='yast2'/>
    <package name='libqt4-x11'/>
    <package name='cups'/>
    <package name='java-1_8_0-openjdk-plugin'/>
    <package name='systemsettings5'/>
    <package name='okular'/>
    <package name='libreoffice-writer'/>
    <package name='libreoffice'/>
    <package name='libreoffice-impress'/>
    <package name='libreoffice-calc'/>
    <package name='libreoffice-base'/>
    <package name='korganizer5'/>
    <package name='kontact5'/>
    <package name='kaddressbook5'/>
    <package name='kscd'/>
    <package name='k3b'/>
    <package name='dragonplayer'/>
    <package name='amarok'/>
    <package name='kopete'/>
    <package name='konversation'/>
    <package name='konqueror'/>
    <package name='plasma5-desktop'/>
    <package name='kmail5'/>
    <package name='MozillaFirefox'/>
    <package name='kdepim'/>
    <package name='akregator5'/>
    <package name='skanlite'/>
    <package name='libreoffice-draw'/>
    <package name='gwenview5'/>
    <package name='gimp'/>
    <package name='ksudoku'/>
    <package name='kmines'/>
    <package name='kpat'/>
    <package name='kreversi'/>
    <package name='kmahjongg'/>
    <package name='libqt5-qttools'/>
    <package name='libqt5-linguist'/>
    <package name='patterns-openSUSE-imaging_opt'/>
    <package name='patterns-openSUSE-imaging'/>
    <package name='patterns-openSUSE-yast2_basis'/>
    <package name='patterns-openSUSE-x11_opt'/>
    <package name='patterns-openSUSE-sw_management_kde'/>
    <package name='patterns-openSUSE-sw_management'/>
    <package name='patterns-openSUSE-office_opt'/>
    <package name='patterns-openSUSE-office'/>
    <package name='patterns-openSUSE-non_oss_opt'/>
    <package name='patterns-openSUSE-non_oss'/>
    <package name='patterns-openSUSE-multimedia_opt'/>
    <package name='patterns-openSUSE-multimedia'/>
    <package name='patterns-openSUSE-kde_yast'/>
    <package name='patterns-openSUSE-kde_utilities_opt'/>
    <package name='patterns-openSUSE-kde_utilities'/>
    <package name='patterns-openSUSE-kde_plasma'/>
    <package name='patterns-openSUSE-kde_office'/>
    <package name='patterns-openSUSE-kde_multimedia'/>
    <package name='patterns-openSUSE-kde_internet'/>
    <package name='patterns-openSUSE-kde_imaging'/>
    <package name='patterns-openSUSE-kde_games'/>
    <package name='patterns-openSUSE-games'/>
    <package name='patterns-openSUSE-fonts_opt'/>
    <package name='patterns-openSUSE-fonts'/>
    <package name='patterns-openSUSE-enhanced_base_opt'/>
    <package name='patterns-openSUSE-enhanced_base'/>
    <package name='patterns-openSUSE-apparmor_opt'/>
    <package name='patterns-openSUSE-apparmor'/>
    <package name='patterns-openSUSE-x11'/>
    <package name='grub'/>
    <package name='kdebase4-openSUSE'/>
    <package name='patterns-openSUSE-kde'/>
    <package name='sddm'/>
    <package name='konsole'/>
    <package name='libyui-qt-pkg7'/>
    <package name='kwin'/>
    <package name='soprano-backend-virtuoso'/>
    <package name='yast2-control-center-qt'/>
    <package name='kdebase4-session'/>
    <package name='sax3'/>
    <package name='x11-tools'/>
    <package name='xorg-x11'/>
    <package name='xorg-x11-driver-input'/>
    <package name='xorg-x11-driver-video'/>
    <package name='xorg-x11-fonts'/>
    <package name='grub2-branding-openSUSE'/>
    <package name='gfxboot-branding-openSUSE'/>
    <package name='yast2-x11'/>
    <package name='SuSEfirewall2'/>
    <package name='less'/>
    <package name='yast2-firstboot'/>
    <package name='e2fsprogs'/>
    <package name='branding-openSUSE'/>
    <package name='patterns-openSUSE-base'/>
    <package name='grub2'/>
    <package name='iputils'/>
    <package name='kernel-default'/>
    <package name='plymouth'/>
    <package name='syslog-ng'/>
    <package name='vim'/>
    <package name='zypper'/>
    <package name='timezone'/>
    <package name='gsettings-backend-dconf'/>
    <package name='glibc'/>
    <package name='glibc-locale'/>
    <package name='yast2-live-installer'/>
    <package name='yast2-users'/>
    <package name='btrfsprogs'/>
    <archive name='plymouth.tar' bootinclude='true'/>
    <package name='gfxboot-devel' bootinclude='true'/>
    <archive name='sddm.tar'/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
  </packages>
  <repository type='yast2'>
    <source path='http://download.opensuse.org/distribution/leap/42.2/repo/oss/'/>
  </repository>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/update/leap/42.2/oss/'/>
  </repository>
</image>
